.weather-card {
  @include box-shadow-soft;
  padding: 20px; 
  margin-bottom: 1.5rem;
  border-radius: 12px;
  transition: transform 0.3s ease;
  border: none;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  &__icon {
    font-size: 3.5rem;
    padding: 1rem 0;
  }

  &__temp {
    font-weight: bold;
    color: $dark-color;
  }
}
